<div>
  <div>
    <div class="center">
    </div>
    <div class="split">
      <div>
        <p>Nombre d’entrées</p>
        <p>{{ totalEntries | number }}</p>
      </div>
      <div>
        <p>Nombre total de médailles</p>
        <p>{{ totalMedals | number }}</p>
      </div>
      <div>
        <p>Nombre total d’athlètes</p>
        <p>{{ totalAthletes | number }}</p>
      </div>
    </div>
  </div>
  <div class="chart-container wrapper-container">
    <div class="container">
      <canvas id="countryChart"></canvas>
    </div>
  </div>
  <div class="center">
    <a routerLink="">Retour</a>
  </div>
</div>
